name: Send Markdown Title and Summary to Telegram

on:
  push:
    paths:
      - "*.md"

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Get latest Markdown file
        id: mdfile
        run: |
          FILE=$(git diff --name-only HEAD~1 HEAD | grep '.md$' | head -n 1)
          echo "file=$FILE" >> $GITHUB_OUTPUT

      - name: Extract title and summary from front matter
        id: extract
        run: |
          TITLE=$(grep '^title:' ${{ steps.mdfile.outputs.file }} | sed 's/title:[[:space:]]*//;s/"//g')
          SUMMARY=$(grep '^summary:' ${{ steps.mdfile.outputs.file }} | sed 's/summary:[[:space:]]*//;s/"//g')
          echo "title=$TITLE" >> $GITHUB_OUTPUT
          echo "summary=$SUMMARY" >> $GITHUB_OUTPUT

      - name: Send to Telegram
        uses: appleboy/telegram-action@v0.1.0
        with:
          to: -1003153421262
          token: 8257053065:AAG9o9k_8bweYxMSTzhotCL1etiWZ9pZVVo
          message: |
            *${{ steps.extract.outputs.title }}*
            _${{ steps.extract.outputs.summary }}_
